@mixin h3-font {
	font-size: larger;
	letter-spacing: 2px;
    text-transform: uppercase;
}
@mixin h3-font-capitalize {
	font-size: larger;
	letter-spacing: 2px;
    text-transform: capitalize !important;
}

@mixin p-font {
	font-size: medium;
	font-weight: 300;
	text-align: center;
    letter-spacing: 1px;
}

@mixin color-1 {
	background-color: rgb(159, 96, 218);
	color: #fff;
}

$text-color-1: var(--gray-6);
$text-color-2: #9f60da;
$text-color-3: #024a85;
