


.container {
    h2 {
        text-align: center;
        padding-bottom: 1%;
        color: var(--gray-6);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 400px));
    gap: 10px;

}

@media (max-width: 768px) {
    .cards {
        gap: 25px;
        // display: flex;
        // flex-direction: column;
        // justify-content: center;
        // align-items: center;
    }
}

