@use './utils';

// This file is common btw cards and card component
.container {
    h2 {
        text-align: center;
        padding-bottom: 1%;
        color: var(--gray-6);
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 10px;

    }

    @media (max-width: 768px) {
        .cards {
            gap: 25px;
            // display: flex;
            // flex-direction: column;
            // justify-content: center;
            // align-items: center;
        }
    }

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: var(--gradient-7);
    background: rgb(159, 96, 218);
    box-shadow: var(--shadow-5);
    height: 400px;

    img {
        object-fit: contain;
        width: 60%;
        margin-top: 10px;
        border-radius: var(--size-3);
        box-shadow: 0 0 4px 1px #333;
    }

    h3 {
        @include utils.h3-font;
        color: #fff;
        margin-top: 5px;
    }

    p {
        @include utils.p-font;
        color: #fff;
        margin: 5px 0;
    }

    .btn {
        margin: 5px;

        button {
            margin: 0 10px;
            padding: 5px 10px;
        }
    }
}

.card:nth-of-type(1) {
    border-radius: var(--radius-blob-1);

}

.card:nth-of-type(2) {
    border-radius: var(--radius-blob-2);

}

.card:nth-of-type(3) {
    border-radius: var(--radius-blob-3);

}