.container {
    h2 {
        text-align: center;
        padding-bottom: 1%;
        color: var(--gray-6);
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(350px, 1fr));
    gap: 10px;

}

@media (max-width: 1140px) {
    .cards {
        grid-template-columns: repeat(2, minmax(350px, 1fr));
    }
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        gap: 25px;
        // background-color: aqua;
    }
}