@use './utils';

.container {
    border: 1px solid var(--gray-6);
    border-radius: 8px;
    width: 350px;
    height: 400px;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 2;
    display: flex;
    flex-direction: column;
    cursor: default;


    @media (max-width: 470px) {
        & {
            width: 300px;
            transform: translateX(30px);
        }
    }
}

.disabled {
    display: none;
}

.cartHeading, .total {
    font-size: large;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px 0;
    color: var(--gray-6);
}

.total {
    // background-color: var(--green-8);
    // color: #fff;
    padding: 10px 0;
    @include utils.color-1;
    margin-top: auto;
    font-size: 20px;
    text-transform: capitalize;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}
.checkoutBtn {
    // border: 1px solid var(--green-8);
    // border-radius: 6px;
    padding: 8px 10px;
    transform: translateY(-2px);
}
.textSmall {
    font-size: inherit;
}