.container {
    border: 1px solid #333;
    border-radius: 8px;
    width: 350px;
    height: 400px;
    position: absolute;
    right: 0;
    background-color: #fff;
    z-index: 2;
}

.disabled {
    display: none;
}