

.container {
    background-image: url('/assets/images/noise.svg');
    background-position: center right;
    height: 300px;
    background-size: contain;
    display: block;
    background-color: pink;
}