@import "https://unpkg.com/open-props";
/* @import "open-props/colors";
@import "open-props/fonts";
@import "open-props/animations"; */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  /* font-family: 'Source Sans Pro', sans-serif; */
}

li {
  list-style: none;
}

.globalContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0;
}

button {
  cursor: pointer;
}