@import "https://unpkg.com/open-props";
/* @import "open-props/colors";
@import "open-props/fonts";
@import "open-props/animations"; */



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

.globalContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1%;
  margin: 1% 0;
}