@mixin flexCC {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

$paddingX: 0 10px;
$paddingY: 10px 0;
$menuFontSize: xx-large;

.nav {
    height: 70px;
    position: fixed;
    z-index: 10;

    .overlay {
        position: relative;
        z-index: 3;

        &::before {
            content: '';
            position: absolute;
            width: 100vw;
            height: 100vh;
            background-color: #333;
            transition: transform 0.3s ease-in-out;
            transform: translateY(-100vh);
        }

    }

    .overlay.activate {

        &::before {
            transform: translateY(0vh);
        }
    }

    .navbar {
        @include flexCC;
        width: 100vw;
        max-height: 100%;
        // overflow: hidden;

        .nav_left {
            color: #333;
        }

        .nav_right {
            @include flexCC;

            // div:nth-child(1) {
            //     padding: $paddingY;
            // }
        }

        .menu_title {
            font-size: $menuFontSize;
            cursor: pointer;

        }

        .dropdown .menu_title {
            transition: transform 0.5s ease-in-out, color 0.5s ease-in-out;
        }

        .dropdown .menu_title.activate {
            transform: translateX(-90vw);

            @media (max-width: 768px) {
                transform: translateX(-85vw);
            }

            color: #fff;
        }

        .dropdown {
            z-index: 5;

            .dropdown_ul {
                @include flexCC;
                position: absolute;
                flex-direction: column;
                right: -250px;
                // overflow: hidden;
                width: 250px;
                background-color: yellow;

                li {
                    font-size: xx-large;
                    text-transform: uppercase;
                    padding: $paddingY;
                    border-radius: var(--size-1);
                    color: #fff;
                    transition: transform 0.3s ease-in-out;
                    // color: green;
                    // width: 100%;
                    text-align: center;
                }

                li:hover {
                    // border: var(--border-size-1) solid var(--gray-3);
                    background-color: var(--gray-3);
                    color: #333;
                    width: 180px;
                }
            }

            //set delay and animation of each of the dropdown menu items
            .dropdown_ul.activate {

                li:nth-child(1),
                li:nth-child(2),
                li:nth-child(3),
                li:nth-child(4),
                li:nth-child(5),
                li:nth-child(6) {
                    transform: translateX(-280px);

                    
                    @media (max-width: 768px) {
                        transform: translateX(-280px);

                    }
                }

                li:nth-child(1) {
                    transition-delay: 0.01s;
                }

                li:nth-child(2) {
                    transition-delay: 0.03s;
                }

                li:nth-child(3) {
                    transition-delay: 0.05s;
                }

                li:nth-child(4) {
                    transition-delay: 0.06s;
                }

                li:nth-child(5) {
                    transition-delay: 0.07s;
                }

                li:nth-child(6) {
                    transition-delay: 0.09s;
                }
            }

        }

        //setting padding for all li
        li {
            padding: $paddingY;
        }

        //hamburger animation
        .dropdown {
            svg {
                width: 85px;
                height: 85px;
                transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
                    height 500ms ease-in-out,
                    width 500ms ease-in-out;

                path {
                    stroke: #333;
                }
            }

            .activate svg {
                transform: rotate(90deg);
                width: 45px;
                height: 45px;

                path {
                    stroke: #fff;
                }
            }

            path {
                transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1),
                    stroke 500ms ease-in;
            }

            path:nth-child(1) {
                transform-origin: 36% 40%;
            }

            path:nth-child(2) {
                stroke-dasharray: 29 299;
            }

            path:nth-child(3) {
                transform-origin: 35% 63%;
            }

            path:nth-child(4) {
                stroke-dasharray: 29 299;
            }

            path:nth-child(5) {
                transform-origin: 61% 52%;
            }

            path:nth-child(6) {
                transform-origin: 62% 52%;
            }

            .activate path:nth-child(1) {
                transform: translateX(9px) translateY(1px) rotate(45deg);
            }

            .activate path:nth-child(2) {
                stroke-dasharray: 225 299;
                stroke-dashoffset: -72px;
            }

            .activate path:nth-child(3) {
                transform: translateX(9px) translateY(1px) rotate(-45deg);
            }

            .activate path:nth-child(4) {
                stroke-dasharray: 225 299;
                stroke-dashoffset: -72px;
            }

            .activate path:nth-child(5) {
                transform: translateX(9px) translateY(1px) rotate(-45deg);
            }

            .activate path:nth-child(6) {
                transform: translateX(9px) translateY(1px) rotate(45deg);
            }
        }
    }
}

.cart {
    position: relative;
}